@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap');

/* GLOBAL FONT */
body {
  font-family: 'Playfair Display', serif;
}
p{
  font-family: 'Poppins', sans-serif;
}
input ,label{
  font-family: 'Poppins', sans-serif;
}
button{
  font-family: 'Poppins', sans-serif;
}
select{
  font-family: 'Poppins', sans-serif;
}
a{
  font-family: 'Poppins', sans-serif;

}
table{
  font-family: 'Poppins', sans-serif;

}
/* SMOOTH SCROLL */
html {
  scroll-behavior: smooth;
}

/* PLAYFAIR CLASS */
.playfair {
  font-family: 'Playfair Display', serif;
}

/* CUSTOM SCROLLBAR */
select::-webkit-scrollbar {
  width: 8px;
}

select::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 4px;
}

select::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

/* ANIMATIONS */
@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slideLeft {
  animation: slideLeft 0.4s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes scaleIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scaleIn {
  animation: scaleIn 0.3s ease-out forwards;
}

/* DATEPICKER */
.react-datepicker-popper {
  z-index: 99999 !important;
}

/* BUTTON */
button {
  cursor: pointer;
}